[submodule "1-recipe-page"]
	path = 1-recipe-page
	url = https://github.com/NataMellado/recipe-page-challenge
	branch = main
[submodule "2-blog-card-challenge"]
	path = 2-blog-card-challenge
	url = https://github.com/NataMellado/blog-card-challenge
	branch = main
[submodule "3-social-links-profile"]
	path = 3-social-links-profile
	url = https://github.com/NataMellado/social-links-profile-challenge
	branch = main
[submodule "4-results-summary-component"]
	path = 4-results-summary-component
	url = https://github.com/NataMellado/results-sumary-component-challenge
	branch = main
[submodule "5-product-preview-card"]
	path = 5-product-preview-card
	url = https://github.com/NataMellado/product-preview-component-challenge
	branch = main
[submodule "6-faq-accordion"]
	path = 6-faq-accordion
	url = https://github.com/NataMellado/faq-accordion
	branch = main
